
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .background-initial {
            background-color: rgba(255,255,255,1); 
            top: 5px; 
            left: 154px; 
            width: 960px; 
            min-height: 600px; 
        }
        .silex-id-1473528221194-1 {
            min-height: 27px; 
            width: 53px; 
            top: 22px; 
            left: 534px; 
        }
        .silex-id-1473528343984-2 {
            min-height: 27px; 
            width: 53px; 
            top: 21px; 
            left: 674px; 
        }
        .silex-id-1473528347264-3 {
            min-height: 27px; 
            width: 53px; 
            top: 22px; 
            left: 604px; 
        }
        .silex-id-1473528408164-4 {
            min-height: 27px; 
            width: 94px; 
            top: 20px; 
            left: 745px; 
        }
        .silex-id-1473529042324-6 {
            min-height: 125px; 
            width: 175px; 
            top: 2px; 
            left: 245px; 
            background-color: transparent; 
        }
        .silex-id-1473528151505-0 {
            min-height: 80px; 
            width: 341px; 
            top: 28px; 
            left: 35px; 
        }
        .silex-id-1442914589168-2 {
            min-height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
    